

$accent-shade: #FDC505;
$accent-color: #FFD600;
$accent-light: #FFEA00;
$accent-tint: #FFDE33;

$primary-shade: #4527A0;
$primary-light: #7E57C2;
$primary-dark: #311B92;

$green-color: rgb(23, 200, 148);
$grey-color: rgb(187, 187, 187);

$white-color: #ffffff;
$black-color: #000000;